body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.primary-btn{
  background-color: #088179;
  color:#fff;
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
}
.no-underline{
  text-decoration: none;
}
.space-between{
  display: flex;
  justify-content: space-between;
}
.flex-column-left{
  display:flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.err-msg{
  color: red;
}
.no-hover-underline:hover{
  text-decoration: none !important;
}
.link-button{
  color: #088179;
  font-size:17px;
  margin: 10px;
}
.link-button:hover{
  color: #000;
}
.delete-btn{
  margin: 10px;
  color: rgb(197, 0, 0);
}
.delete-btn:hover{
  color: #000;
}