
.admin-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #2d2d2d;
  }
  
 
  .right-sidebar{
    padding: 18px;
    background-color: rgb(29, 29, 29);
    box-shadow: 4px 5px 16px #0006;
    border-radius: 20px;
    color: #ececec;
  }
  
  
  .form-control{
    background-color: #fffc;
    border: 0;
  }
  
  
  /* Main Content Styles */
  .admin-main {
    color: #ececec;
    margin-top:70px;
  }
  
  .admin-main h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  .admin-content{
    color: #ececec;
    margin-top: 70px;
  }
  .content {
    color: #ececec;
    padding: 20px;
    border-radius: 8px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .admin-container {
      flex-direction: column;
    }
  
    .navbar {
      padding: 10px;
     
    }
    .admin-navbar{
        background-color: #2d2d2d;
    }
  
    #sidebar {

      width: 100%;
      position: relative;
      margin-top: 30px;
      padding: 10px;
    }
  
    .admin-main {
      margin-left: 0;
      padding: 10px;
    }
  }
  