.cart-total-section{
    width: 100%;
    display: flex;
    justify-content: end;
}
.cart-total{
    width: 300px;
    border:  1px solid #088179;
    padding: 10px;
    border-radius: 15px;
}

.prod-stock-out{
    color:red !important;
  }
  .prod-hurry-up{
    color:#f58b00 !important;
  }
  .prod-in-stock{
    color: green !important;
  }