.default_label{
    color: #088179;
}


/* Order view CSS*/
.my-order-details-container {
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
  }
  
  .my-order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .my-order-status {
    color: #088179;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 18px;
  }
  .return-order-btn{
    background-color: rgb(163, 0, 0);
    color: #ddd;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
  }
  .return-order-btn:hover{
    background-color: rgb(202, 11, 11);
  }
  .cancel-order-btn{
    color: #ff7b00;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
  }
  .cancel-order-btn:hover{
    color: #b46011;
  }

  .my-order-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .my-order-meta label {
    color: #666;
    font-size: 0.9em;
    display: block;
    margin-bottom: 5px;
  }
  
  .my-order-items {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .my-order-items th {
    background-color: #f4f4f4;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .my-order-items td {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .my-order-total {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eee;
    padding-top: 10px;
    font-size: 1.1em;
  }
  .my-shipping-info {
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding-top: 20px;
  }
  
  .my-shipping-info h3 {
    margin-bottom: 10px;
    color: #333;
  }
  .return-item-msg{
    color: rgb(202, 11, 11) ;
  }
  .payment-info{
    width: 40%;
  }